---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Corey Stewart's Blog";
const image = "/images/main_blog_image.png"
const allPosts = await Astro.glob("../pages/posts/*.md");
const metaTags = [
    { property: "og:type", content: "website" },
    {
        property: "og:description",
        content:
            "Contents of Corey Stewart's blog"
    },
    { property: "og:image", content: {image}  },
];
---

<BaseLayout pageTitle={pageTitle} metaTags={metaTags}>
    <h1 class="my-4 text-3xl text-center">Welcome to a blog</h1>
    <img
        src={image}
        class="object-cover max-h-72 filter-for-blending mx-auto mb-4"
        style="--sepia-value: 0.4;"
    />
    <p>I have a plan. Just kidding. I don't.</p>
    <div class="flex flex-col">
        <div>
            <h2 class="text-lg text-text-cream">CONTENTS</h2>
            <ul class="underline underline-offset-2">
                {
                    allPosts.map((post) => (
                        <BlogPost
                            url={post.url}
                            title={post.frontmatter.title}
                        />
                    ))
                }
            </ul>
        </div>
    </div>
</BaseLayout>
