---
import SocialIcon from "./SocialIcon.astro";

let navLinks = [
    { text: "Stew.Boo", url: "/" },
    { text: "About", url: "/about/" },
    { text: "Blog", url: "/blog/" },
    { text: "Tags", url: "/tags/" },
    { text: "Resume", url: "/resume/" },
    { text: "Projects", url: "/projects/" },
];
---

<div
    class="flex flex-col items-center justify-between sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4 pb-6"
>
    <div
        class="flex flex-col items-center sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4"
    >
        {
            navLinks.map((link) => {
                let isActive = Astro.url.pathname === link.url;
                let underlineClass = isActive ? 'border-b-2 border-blue-500' : 'border-b-0';
                
                return link.text === "Stew.Boo" ? (
                    <a href={link.url} class={`text-xl nav-link no-underline ${underlineClass}`}>
                        <span style="background: linear-gradient(to right, rgb(89, 203, 230), rgb(90, 118, 186)); -webkit-background-clip: text; color: transparent;">
                            {link.text}
                        </span>
                    </a>
                ) : (
                    <a href={link.url} class={`nav-link no-underline ${underlineClass}`}>
                        <span class="text-main-blue">{link.text}</span>
                    </a>
                )
            })
        }
    </div>
    <div class="flex flex-row space-x-2 sm:space-x-0 sm:space-y-0">
        <SocialIcon
            name="mdi:github"
            link="https://github.com/decadentsavant"
        />
        <SocialIcon
            name="mdi:twitter"
            link="https://twitter.com/decadentsavant"
        />
    </div>
</div>

<script>
    import "../scripts/underlineNav.js";
</script>
