---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectsCard from "../../components/ProjectsCard.astro";
import ProjectModal from "../../components/ProjectModal.astro";
import { projects } from "./projectsData.js";
const pageTitle = "Tech Projects";
const metaTags = [
    { property: "og:type", content: "article" },
    {
        property: "og:description",
        content:
            "Corey Stewart's technical projects",
    },
    { property: "og:image", content: "https://stew.boo/images/baseball_cards.png" },
];
---

<BaseLayout pageTitle={pageTitle} metaTags={metaTags}>
    <h1 class="pt-8 pb-8 text-3xl text-center">
        Select Projects
    </h1>
    <div class="flex flex-col items-center gap-5 lg:grid lg:grid-cols-2">
        {
            Object.keys(projects).map((key) => (
                <ProjectsCard
                    project={JSON.stringify(projects[key])}
                    title={projects[key].title}
                    shortDesc={projects[key].shortDesc}
                    img={projects[key].img}
                    alt={projects[key].alt}
                />
            ))
        }
    </div>
    <ProjectModal />
</BaseLayout>

<script>
import "../../scripts/toggleProjectModal.js"
</script>
