---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
function formatDate(dateString) {
    const date = new Date(dateString);
    return date.toLocaleDateString("en-US", {
        month: "long",
        day: "numeric",
        year: "numeric",
    });
}
const allPosts = await Astro.glob("../pages/posts/*.md");
const currentPostFile = Astro.props.file;
const currentIndex = allPosts.findIndex(
    (post) => post.file === currentPostFile
);
const previousPost = currentIndex > 0 ? allPosts[currentIndex - 1] : null;
const nextPost =
    currentIndex < allPosts.length - 1 ? allPosts[currentIndex + 1] : null;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="text-center">
        <h1 class="text-3xl pb-2">{frontmatter.title}</h1>
        <p>{frontmatter.subtitle}</p>
    </div>
    <div class="flex justify-center items-center pb-1">
        <img
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
            class="object-cover max-h-72 filter-for-blending"
            style={`--sepia-value: ${frontmatter.image.sepiaVar};`}
        />
    </div>
    <p class="text-sm text-center font-bold">{frontmatter.image.title}</p>
    <p class="text-sm text-center italic pb-8">
        {formatDate(frontmatter.pubDate)}
    </p>
    <slot />
    <div class="flex justify-around pt-8 text-text-cream pb-12">
        {nextPost && <a href={nextPost.url}>← {nextPost.frontmatter.title}</a>}
        {
            previousPost && (
                <a href={previousPost.url}>
                     {previousPost.frontmatter.title} → 
                </a>
            )
        }
    </div>
</BaseLayout>
