---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
function formatDate(isoString) {
    const date = new Date(isoString);
    return date.toLocaleDateString("en-US", {
        month: "long",
        day: "numeric",
        year: "numeric",
    });
}

// Posts Info
const allPosts = await Astro.glob("../pages/posts/*.md");
const currentPostFile = Astro.props.file;
const currentIndex = allPosts.findIndex(
    (post) => post.file === currentPostFile
);
const previousPost = currentIndex > 0 ? allPosts[currentIndex - 1] : null;
const nextPost =
    currentIndex < allPosts.length - 1 ? allPosts[currentIndex + 1] : null;

// OpenGraph tags
const metaTags = [
    { property: "og:type", content: "article" },
    { property: "article:author", content: "https://stew.boo/about" },
    { property: "article:section", content: "Blog" },
    { property: "article:published_time", content: frontmatter.pubDate },
    {
        property: "og:description",
        content: frontmatter.subtitle,
    },
    { property: "og:image", content: frontmatter.image.url },
];
frontmatter.tags.forEach((tag) => {
    metaTags.push({ property: "article:tag", content: tag });
});
---

<BaseLayout pageTitle={frontmatter.title} metaTags={metaTags}>
    <div class="text-center">
        <h1 class="text-3xl pb-2">{frontmatter.title}</h1>
        <p>{frontmatter.subtitle}</p>
    </div>
    <div class="flex justify-center items-center pb-1">
        <img
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
            class="object-cover max-h-72 filter-for-blending"
            style={`--sepia-value: ${frontmatter.image.sepiaVar};`}
        />
    </div>
    <p class="text-sm text-center font-bold">{frontmatter.image.title}</p>
    <p class="text-sm text-center italic pb-8">
        {formatDate(frontmatter.pubDate)}
    </p>
    <hr class="p-8" />
    <slot />
    <div class="flex justify-around pt-8 text-text-cream pb-12">
        {
            previousPost && (
                <a href={previousPost.url}>
                    ←{" "}
                    <span class="hidden sm:inline">
                        {previousPost.frontmatter.title}
                    </span>
                </a>
            )
        }
        {
            nextPost && (
                <a href={nextPost.url}>
                    <span class="hidden sm:inline">
                        {nextPost.frontmatter.title}
                    </span>{" "}
                    →
                </a>
            )
        }
    </div>
</BaseLayout>
